<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Booking</title>
</head>

<body>
     <div class="container">
     <h1>Booking</h1>
     <p>Am a tourist</p>
     <div class="details">
          <nav>
               <h3>Name:</h3>
               <p>Batete Ange Nadette</p>
          </nav>
          <nav>
               <h3>Email:</h3>
               <p>Bateteangenadette@yahoo.en</p>
          </nav>
     </div>
     <h1>Details</h1>
     <form action="" method="post">
     <ul>
          <li>
               <h3>Location</h3>
               <input type="text" placeholder="Enter a place you want to visit" name="location">
          </li>
          <li>
               <h3>Date/Time</h3>
               <input type="datetime" name="datetime" placeholder="date you will go to the trip">
          </li>
          <li>
               <h3>Number of people</h3>
               <input type="number" name="numberOfPeople" placeholder="number of people you will come with">
          </li>
          <li>
               <h3>Extra details</h3>
               <input type="text" placeholder="you can extra details if you you want any other specification"
                    name="details">
          </li>
     </ul>
     <button type="submit">book now</button>
</form>
</div>
</body>

</html>