<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactUs.css">
    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    height: 10vh;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.logo a{
    color: black;
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add this to display list items horizontally */
}

.links li {
    margin-right: 30px;
}

.started {
    background-color: #4c3f89;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.started a{
    text-decoration: none;
    color: #fff;
}


input{
    border-top: none;
    border-left:none;
    border-right: none;
    padding-right: 500px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(174, 173, 173);
    margin-left: 100px;
    margin-top: -15px;
}

content{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sms{
    color:purple;
    border:1px solid purple;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    margin: 30px;
}
.para{
    color: rgb(161, 157, 157);
    width: 700px;
}
.heading{
    margin: 30px 0px;
    width: 300px;
    font-size: 2em;
    color: #4c3f89;
}
.qns {
    flex: 1 1 50%;
    padding: 10px;
    float: left; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.qns label{
    outline: none;
}

.aside {
    flex: 1 1 50%;
    padding: 10px;
    float: right; 
    box-sizing: border-box; 
}
.image{
    margin-top: -200px;
    margin-bottom: 25px;
    margin-right: 60px;
    width: 200px;
    height: 240px;
}
.aside-content h1{
font-size: 1.2em;
color: #4c3f89;
margin: 15px 0px;
}
.aside-content p{
    font-size: 0.8em;
    line-height: 20px;
    color: rgb(161, 157, 157);
}
.nbrs{
    color:purple;
    border:1px solid purple;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #fff;
    margin: 30px;
    float: left;
}
.num{
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"><a href="#">LOGO</a></div>
            <div class="links">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Book</li>
                    <li>Contact</li>
                </ul>
                <button class="started"><a href="#">Get started</a></button>
            </div>
        </div>
        <div class="content">
            <div class="aside1">
            <h1 class="heading">Let's work together!</h1>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Incidunt doloribus molestias, eaque et obcaecati
                voluptate tempora facilis, enim officia sequi nemo atque!
                 Non atque ipsa itaque enim vitae est eligendi.
            </p>
            <div class="qns"> 
            <div class="num"><div class="nbrs">01</div><label for="">what's your name</label></div>
            <input type="text" name="name" placeholder="Type your full name">
            <div class="num"><div class="nbrs">02</div><label for="">What's your email address</label></div>
            <input type="email" name="email" placeholder="example@gmail.com">
            <div class="num"><div class="nbrs">03</div><label for="">What's your phone number</label></div>
            <input type="number" name="phone" placeholder="+250 79/2/3/8 000000000">
            <div class="num"><div class="nbrs">04</div><label for="">What's your company/Organization name</label></div>
            <input type="text" name="company" placeholder="Type your company/organization name">
            <div class="num"><div class="nbrs">05</div><label for="">What service are you looking for</label></div>
            <input type="text" name="service" placeholder="Choose from a list here">
            <div class="num"><div class="nbrs">06</div><label for="">What have you budgeted for this project</label></div>
            <input type="text" name="bugdet" placeholder="Chooose from a list here">
            <div class="num"><div class="nbrs">07</div><label for="">Tell us about your project</label></div>
            <input type="text" name="project" placeholder="Please type your project description">
            <div class="num"><div class="nbrs">08</div><label for="">Write us a message</label></div>
            <input type="text" name="message" placeholder="Please type your message here">
            <div><button class="sms">SEND MESSAGE</button></div>
        </div>
    </div>
        <div class="aside">
            <img src="Screenshot 2023-07-22 144448.png" alt="The image" class="image">
            <div class="aside-content">
            <h1>CALL US</h1>
            <p>+284775949 896833</p>
            <p>+332822324 788768</p>
            <h1>ADDRESS</h1>
            <p>ALLHFLKJRHHUBJUHBLF</p>
            <p>1098108480280824755</p>
            <p>2364869734646947949</p>
        </div>
        </div>
        </div>
    </div>
</body>

</html>