<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactUs.css">
    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    height: 10vh;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.logo a{
    color: black;
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add this to display list items horizontally */
}

.links li {
    margin-right: 30px;
}

.started {
    background-color: #4c3f89;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.started a{
    text-decoration: none;
    color: #fff;
}


input{
    border-top: none;
    border-left:none;
    border-right: none;
    padding-right: 500px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(174, 173, 173);
}

content{
    width:70%;
    display: flex;
    flex-wrap: wrap;
}



button{
    color:purple;
    border:1px solid purple;
    padding:10px 20px;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
}
.para{
    color: rgb(161, 157, 157);
    width: 700px;
}
.heading{
    margin: 30px;
    width: 300px;
    color: #4c3f89;
}
.qns {
    flex: 1 1 50%;
    padding: 10px;
    float: left; 
    box-sizing: border-box;
}


/* .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

.footer div {
    flex: 1 1 25%;
    text-align: center;
}

.footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
} */



.aside {
    flex: 1 1 50%;
    padding: 10px;
    float: right; 
    box-sizing: border-box; 
}



    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"><a href="#">LOGO</a></div>
            <div class="links">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Book</li>
                    <li>Contact</li>
                </ul>
                <button class="started"><a href="#">Get started</a></button>
            </div>
        </div>
        <div class="content">
            <h1 class="heading">Let's work together!</h1>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Incidunt doloribus molestias, eaque et obcaecati
                voluptate tempora facilis, enim officia sequi nemo atque!
                 Non atque ipsa itaque enim vitae est eligendi.
            </p>
            <div class="qns"> 
            <label for="">what's your name</label><br><br>
            <input type="text" name="name" placeholder="Type your full name"><br><br><br><br>
            <label for="">What's your email address</label><br><br>
            <input type="email" name="email" placeholder="example@gmail.com"><br><br><br><br>
            <label for="">What's your phone number</label><br><br>
            <input type="number" name="phone" placeholder="+250 79/2/3/8 000000000"><br><br><br><br>
            <label for="">What's your company/Organization name</label><br><br>
            <input type="text" name="company" placeholder="Type your company/organization name"><br><br><br><br>
            <label for="">What service are you looking for</label><br><br>
            <input type="text" name="service" placeholder="Choose from a list here"><br><br><br><br>
            <label for="">What have you budgeted for this project</label><br><br>
            <input type="text" name="bugdet" placeholder="Chooose from a list here"><br><br><br><br>
            <label for="">Tell us about your project</label><br><br>
            <input type="text" name="project" placeholder="Please type your project description"><br><br><br><br>
            <label for="">Write us a message</label><br><br>
            <input type="text" name="message" placeholder="Please type your message here"><br><br><br><br>
            <button>SEND MESSAGE</button>
        </div>
        <div class="aside">
            <img src="Screenshot 2023-07-22 144448.png" alt="The image" class="image">
            <p>CALL US</p><br>
            <p>+284775949 896833</p><br>
            <p>+332822324 788768</p><br><br><br><br><br><br><br>
            <p>ADDRESS</p>
            <p>ALLHFLKJRHHUBJUHBLF</p>
            <p>1098108480280824755</p>
            <p>2364869734646947949</p>
        </div>
        </div>
        <!-- <div class="footer">
            <div>
                <h1>Screder</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Tempora fuga velit corporis? Tempore obcaecati voluptate, 
                    non, mollitia ab natus saepe voluptas magni molestiae adipisci
                     laboriosam sapiente culpa, quidem aut reiciendis!</p>
            </div>
            <div>
                <h1>Company</h1>
                <p>About</p>
                <p>Terms of use</p>
                <p>Privacy Policy</p>
                <p>How it works</p>
                <p>contact us</p>
            </div>
            <div>
                <h1>Support</h1>
                <p>Support once</p>
                <p>2nd support</p>
                <p>Quick chat</p>
            </div>
            <div>
                <h1>Contact</h1>
                <p>Watsapp</p>
                <p>cintact 24</p>
                <p style="font-weight:bold; ">Follow for more</p>
            </div>
        </div> -->
    </div>
</body>

</html>