<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
.container{
    background-color: #1D024A;
    height: 95vh;
}
ul{
    color: white;
    float: left;
}
li{
    float: left;
    margin: 40px;
    list-style: none;
    color: white;
} 
button{
    height: 40px;
    width: 150px;
    background-color: white;
    color: #1D024A;
    border-radius: 20px;
    margin: 35px;
}
.header{
margin-left: 700px;
}
.img{
    width: 80vw;
    height: 50vh;
    background-image: url(./pexels-asad-photo-maldives-1268855.jpg);
    margin: 70px;
    margin-left: 130px;
}
.img button{
    background-color: #1D024A;
    color: white;
    border-color: transparent;
    margin-left: 75%;
}
.img p{
    margin-left: 75%;
    padding-top: 100px;
    color: white;
} 
.n1{
    margin-left: 40px;
}
.n1 img{
    height: 20vh;
    width: 30vh;
    margin-left: 70px;
}
.n1 p{
    color: grey;
    font-size: 15px;
    margin-left: 70px;
}
.all{
    display: flex;
}
.message{
    margin-top: 100px;
    background-color: #1D024A;
    color: white;
    height: 35vh;
}
.message h3{
    text-align: center;
    padding-top: 50px;
}
form input{
    height: 40px;
    color: grey;
    width: 20vw;
    margin-left: 500px;
    background-color: transparent;
    border-color: transparent;
    padding-left: 20px;
    border: 1px solid white;
    }
    form button{
        background-color: transparent;
        border-color: transparent;
        border: 1px solid white;
        color: white;
    }
    form p{
        text-align: center;
    }
    footer{
        display: flex;
        height: 30vh;
    }
    .n2{
        margin-top: 50px;
        margin-left: 150px;
    }
    .n2 h5{
        color: #1D024A;
        font-size: 16px;
    }
    .n2 p{
        color: grey;
        font-size: 13px;
        margin-top: 25px;
    }
    .n3{
        margin-top: 50px;
        margin-left: 200px;
    }
    .n3 h5{
        color: #1D024A;
        font-size: 16px;
    }
    .n3 p{
        color: grey;
        font-size: 13px;
    }
    .n4{
        margin-top: 50px;
        margin-left: 300px;
    }
    .n4 h5{
        color: #1D024A;
        font-size: 16px;
    }
    .n4 p{
        color: grey;
        font-size: 13px;
    }
    .n5{
        margin-top: 50px;
        margin-left: 200px;
    }
    .n5 h5{
        color: #1D024A;
        font-size: 16px;
    }
    .n5 p{
        color: grey;
        font-size: 13px;
    }
</style>
</head>
<body>
    <div class="container">
        <header>
                <li>LOGO</li>
                <div class="header">
                    <ul>
                <li>Home</li>
                <li>About</li>
                <li>Book</li>
                <li>Contact</li>
                </ul>
                <button>Get Started</button>
                </div>
        </header>
        <div class="img">
<p>Your fast and more effective <br>tourists</p>
<button class="button">Get Started</button>
        </div>
        <div class="all">
            <div class="n1">
                <img src="./pexels-asad-photo-maldives-1268855.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                     adipisicing elit. Non voluptatibus est, voluptatum <br>
                      numquam, cupiditate nulla, amet minus voluptates <br>
                       molestias ex quo inventore! Est cumque adipisci quam <br>
                       dignissimos id quae placeat?
                </p>
            </div><div class="n1">
                <img src="./pexels-asad-photo-maldives-1268855.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                     adipisicing elit. Non voluptatibus est, voluptatum <br>
                      numquam, cupiditate nulla, amet minus voluptates <br>
                       molestias ex quo inventore! Est cumque adipisci quam <br>
                       dignissimos id quae placeat?
                </p>
            </div><div class="n1">
                <img src="./pexels-asad-photo-maldives-1268855.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                     adipisicing elit. Non voluptatibus est, voluptatum <br>
                      numquam, cupiditate nulla, amet minus voluptates <br>
                       molestias ex quo inventore! Est cumque adipisci quam <br>
                       dignissimos id quae placeat?
                </p>
            </div>
        </div>
        <div class="message">
            <h3>SUBSCRIBE TO US</h3>
            <form action="">
                <input type="text" placeholder="Your name">
               <button>Send</button><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </form>
        </div>
        <footer>
            <div class="n2">
                <h5>Logo</h5>
                <p>Lorem ipsum dolor sit, amet <br><br>
                    consectetur adipisicing elit. <br><br>
                     Fuga molestiae consequuntur <br><br>
                     </p>
            </div>
            <div class="n3">
                <h5>Company</h5><br>
                <p>About</p><br>
                <p>Terms of use</p><br>
                <p>Privacy policy</p><br>
                <p>How it works</p><br>
                <p>Contanct us</p><br>
            </div>
            <div class="n4">
                <h5>Support</h5><br>
                <p>Support Once</p><br>
                <p>2nd support</p><br>
                <p>Quick chat</p><br>
            </div>
            <div class="n5">
                <h5>Contact</h5><br>
                <p>watsapp</p><br>
                <p>Contact345</p><br>
            </div>
        </footer>
    </div>
</body>
</html>