<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css" type="text/css">
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="images.jpg" alt="">
            <h5>Untitled allows us to <span>Streamline</span> <br>
                our planning and scheduling so <br>
            we can focus on <span>Simply creating</span></h5>
        </div>
        <div class="all">
            <h2>Log into an account</h2>
            <p>Continue with you 30 day free trial</p>
            <form action="" method="post">
                <input type="text" name="email" id="" placeholder="Email/Phone number"> <br>
                <input type="password" name="password" id="" placeholder="password"><br>

                <button>Login</button><br>
                <button class="input">Login with Google</button>
            </form>
            <p>Don't have an accout? <span>Sign Up</span></p>
        </div>
    </div>
</body>
</html>