<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Users</title>
</head>
<body>
     <form action="../controllers/clients.js" method="post">
          <fieldset>
               <legend>sign up to continue:</legend>
               Name: <br>
               <input required type="text" name="name">
               <br>
               Email: <br>
               <input required type="email" name="email">
               <br>
               Telephone: <br>
               <input required type="tel" name="phoneNumber">
               <br>
               Password: <br>
               <input required type="password" name="password">
               <br>
               <button type="submit" style="background-color: black; border-radius: 3px; border: none; padding: 8px 20px; color: azure; margin: 20px 0;">Submit</button>
          </fieldset>
     </form>
</body>
</html>