h1{
     text-align: center;
     color: #1D024A;
     font-weight: 500;
     font-size: 1.5em;
     margin: 0;
}
.details{
     display: flex;
}
p{
     text-align: center;
     opacity: 0.7;
}
.container{
     display: flex;
}
.image{
     width: 50%;
}
img{
     width: 100%;
}
nav{
     margin-left: 20%;
}
form{
     padding: 10px;
     width: 50%;
}
input{
     width: 80%;
     border: none;
     border-bottom: 1px solid rgb(156, 156, 156);
     padding: 8px;
}

ul{
     list-style-type: decimal;
     list-style-position: outside;
}
h3{
     font-weight: 400;
     margin: 5px;
}
button{
     background-color: #1D024A;
     border: 1px solid #1D024A;
     padding: 8px 15%;
     text-align: center;
     color: white;
     border-radius: 5px;
     margin: 2em 25%;
}

button>a{
     text-decoration: none;
     color: #fff;
}
