    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 60vh; 

}

.main-container{
    display: flex;
  
}

.main-container .container h5{
    position: absolute;
    bottom: 22%;
    left: 5%;
    line-height: 40px;
    font-size: 40px;
    font-weight: semi-bold;
    font-family: 'Quicksand', sans-serif;
}

.main-container .container a i{
    margin: 30px 50px;
    font-size: 40px;
}

form{
    width: 50%;
    padding: 50px;
    margin-left: 10%;
    margin-top: 10vh;
    font-size: large;
    background-color: #fff;

}

form h3{
    font-weight: 400;
    font-size: 2.5em;
    color: #1d024a;
}

img{
    
    height: 85vh;
}

.image{
    width: 50%;
}
.started{
    font-weight: 400;
    font-size: 0.9em;
    color: #808080;
}
.account{
    font-size: 0.8em;
    opacity: 0.8;
    margin-top: 1em;
}

input{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    font-size: 12px;
    margin: 10px;
}

.button1{
    width: 85%;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #1d024a;
    color: #fff;
    border: 1px solid #1d024a;
    transition: all 0.2s ease-out;
}
button>a{
    text-decoration: none;
    color: #fff;
}
.button2{
    width: 85%;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 20px;
    transition: all 0.2s ease-out;
}
a{
    text-decoration: none;
    color: #1d024a;
    transition: all 0.2s ease-out;
    font-weight: 400;
}